<div class="container">
  <form [formGroup]="form" (ngSubmit)="confirmCode()" class="form-inline">
    <label for="confirmationCode">Confirmation Code: </label>
    <input
      id="confirmationCode"
      type="text"
      formControlName="confirmationCode"
      class="form-control"
    />
    <button class="mx-auto btn btn-primary" type="submit" id="confirmationSubmit">Submit</button>
  </form>
  <div id="verification-text">
    We've sent a verification code to {{ email }}. Check your email to verify your account so
    we know it's you. If you didn't receive the verification email, please check
    your spam folder. <a href="" (click)="resendVerificationCode()">Click here to resend</a>
  </div>
</div>
