#regForm {
    margin-top: 50px;
    padding: 20px;
}

.container {
    margin-left: calc(50% - 100px);
    max-width: 800px;
}
@media screen and (max-width: 990px) {
    .container {
        margin-left: 0px;
    }
}

.form-background {
    background-color: rgba(255, 255, 255, 0.7);
}

