<form [formGroup]="registrationForm" (ngSubmit)="onSignUp()" id="regForm" class="registration-container">
  <div class="form-group col-md-10">
    <div class="header">
        <h1>Register</h1>
    </div>
    <label for="email">Email: </label>
    <input
      id="email"
      type="text"
      formControlName="email"
      class="form-control"
      [ngClass]="{ 'is-invalid': email?.dirty && email?.errors }"
    />
    <div *ngIf="email?.dirty && email?.errors" class="invalid-feedback">
      <div *ngIf="email.errors?.required">Email is required</div>
      <div *ngIf="email.errors?.email">Invalid email address</div>
    </div>

    <label for="firstname">First Name: </label>
    <input
      id="firstname"
      type="text"
      formControlName="firstName"
      class="form-control"
      [ngClass]="{ 'is-invalid': firstName?.dirty && firstName?.errors }"
      required
    />
    <div *ngIf="firstName?.dirty && firstName?.errors" class="invalid-feedback">
      <div *ngIf="firstName.errors?.required">First name is required</div>
      <div *ngIf="firstName.errors?.minlength">Length of name must be at least 2 characters long</div>
      <div *ngIf="firstName.errors?.maxlength">Length of name must be at most 35 characters long</div>
      <div *ngIf="firstName.errors?.pattern">First name can only contain alphabetic characters</div>
    </div>

    <label for="lastname">Last Name: </label>
    <input
      id="lastname"
      type="text"
      formControlName="lastName"
      class="form-control"
      [ngClass]="{ 'is-invalid': lastName.dirty && lastName?.errors }"
    />
    <div *ngIf="lastName?.dirty && lastName?.errors" class="invalid-feedback">
      <div *ngIf="lastName.errors?.required">Last name is required</div>
      <div *ngIf="lastName.errors?.minlength">Length of name must be at least 2 characters long</div>
      <div *ngIf="lastName.errors?.maxlength">Length of name must be at most 35 characters long</div>
      <div *ngIf="lastName.errors?.pattern">Last name can only contain alphabetic characters</div>
    </div>

  
    <label for="password">Password: </label>
    <input
      class="password"
      type="password"
      formControlName="password"
      class="form-control"
      [ngClass]="{ 'is-invalid': password?.dirty && password?.errors }"
    />
    <div *ngIf="password?.errors && password?.dirty" class="invalid-feedback">
      <div *ngIf="password.errors?.required">Password is required</div>
      <div *ngIf="password.errors?.minlength">Password must be at least 8 characters long</div>
      <div *ngIf="password.errors?.pattern">Password must contain at least 1 uppercase character, 1 numeric character and 1 lowercase character</div>
    </div>  

    <label for="confirmPassword">Confirm Password: </label>
    <input
      class="password"
      type="password"
      formControlName="confirmPassword"
      class="form-control"
      [ngClass]="{ 'is-invalid': (registrationForm.errors?.notSame || confirmPassword?.errors) && confirmPassword?.dirty }"
    />
    <div *ngIf="(registrationForm.errors?.notSame || confirmPassword?.errors) && confirmPassword?.dirty" class="invalid-feedback">
      <div *ngIf="confirmPassword?.errors?.required">Last name is required</div>
      <div *ngIf="registrationForm.errors?.notSame">The passwords do not match</div>
    </div>  

    <div class="btn-wrap">
        <button class="mx-auto btn btn-primary" type="submit"
        [disabled]="registrationForm?.errors || password?.errors ||
        confirmPassword?.errors || lastName?.errors || firstName?.errors
        || email?.errors">
          Register</button>
    </div>
  </div>
</form>