 <div class="grid-container bg-primary-grad">
        <div class="days-row">
            <span class="rota-heading" >{{rota.value.name}}</span>
        </div>
        

        <div *ngFor="let user of rota.value.users" class="user">
            <div class="time-row">
                <div class="col-sm-2 col-xs-12 unit-name">
                    {{user.firstName}}<br>{{user.surName}}
                </div>
                <div class="unit col">

                </div>
                <div class="unit col">
                    
                </div>
                <div class="unit col">
                    
                </div>
                <div class="unit col">
                    
                </div>
                <div class="unit col">
                    
                </div>
                <div class="unit col">
                    
                </div>
                <div class="unit col">
                    
                </div>
            </div>
        </div>
    </div>