<div class="row manager-panel" *ngIf="rotaIsEmpty">
    <div class="col spacer"></div>
    <div class="col col-sm-2">
        <button class="round float-right" (click)="lastWeek()">
            <fa-icon [icon]="faArrowLeft"></fa-icon>
        </button>
    </div>
    <div class="col col-sm-3 text-center">
        <span>Week {{weekIndex.value + 1}}</span>
    </div>
    <div class="col col-sm-1">
        <button class="round" (click)="nextWeek()">
            <fa-icon [icon]="faArrowRight"></fa-icon>
        </button>
    </div>
    <div class="col col-sm-2 edit-btn" >
        <button class="float-right" (click)="editRotaSettings()" *ngIf="isManager.value">
            Edit
        </button>
    </div>
</div>
 <div class="grid-container bg-primary-grad" *ngIf="rotaIsEmpty">
        <div class="days-row">
            <div class="col-sm-3 col-xs-12">
                <span class="rota-heading" >{{rota.value.name}}</span>    
            </div>
            <div class="col day" *ngFor="let dayName of weekDayNames">
                <span>{{dayName}}</span>
            </div>
        </div>
        <div *ngIf="weeks.value[0]">
            <div *ngFor="let user of rota.value.users; let i = index" class="user">
                <div class="time-row">
                    <div class="col-sm-3 col-xs-12 unit-name" (click)="dropDown(i, user)">
                        {{user.fname}} {{user.lname}}
                        <fa-icon [icon]="faArrowDown" size="md"></fa-icon>
                    </div>
                    
                    <div class="unit col" *ngFor="let day of weeks.value[weekIndex.value].days; let d = index"  [attr.id]="i" [@openUserWeek]="isOpen(i)">
                        <div class="day-mobile">
                            <span>{{ weekDayNames[d] }}</span>
                        </div>
                        <app-rota-grid-item [user]="user" [userData]="day[0]" [isManager]="isManager.value" (insertUser)="insertUser($event, d, i)" (editTimes)="editTimes($event, d, i)" ></app-rota-grid-item>
                    </div>
                </div>
            </div>
        </div>
    </div>