.header {
    height: 45px;
}


.days-row {
    border-top-left-radius: 15px;
    padding: 6px;
    height: 40px;
}

// .rota-rename-button {
//     background-color: transparent !important;
//     padding: 5px 0;
//     width: fit-content;
//     height: 28px !important;
//     border-radius: 5px !important;
//     box-shadow: none !important;
//     transition: all 0s !important;
// }

// .rota-rename-button:hover {
//     background-color: rgba(0, 0, 0, 0.4) !important;
//     // box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.75) !important;
// }

// .rota-rename {
//     display: none;
// }

.user {
    height: 35px;
    margin: 0 !important;

    .time-grid {
        padding: 0 !important;
    }

    .unit {
        
        border-bottom: 1px solid grey;
    }
}
