<div class="row">
    <div class="col-sm-4">
        <div class="row rota-list">
            <div class="col-sm-8 header-wrap">
                <h2>My Rotas</h2>
            </div>
            <div class="col-sm-4">
                <button (click)="newForm()" class="btn btn-icon margin-x-auto">Add Rota<fa-icon [icon]="faCalendarPlus" ></fa-icon></button>
            </div>
        </div>
        <hr>
    </div>
    <div class="col-sm-8">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<div class="container">
    
</div>
