<div class="row">
    <div class="col-sm-4">
        <div class="row rota-list">
            <div class="col-sm-8 header-wrap">
                <h2>My Rotas</h2>
            </div>
            <div class="col-sm-4 text-center">
                <a [routerLink]="[{outlets: {'rota-grid': 'edit', 'rota-shelf-left': 'edit' }}]" class="btn btn-icon margin-x-auto round">
                    <fa-icon [icon]="faCalendarPlus" ></fa-icon>
                </a>
            </div>
        </div>
        <hr>
        <router-outlet name="rota-shelf-left"></router-outlet>
    </div>
    <div class="col-sm-8">
        <div class="container-fluid">
            <router-outlet name="rota-grid"></router-outlet>
        </div>
    </div>
</div>

