.form-container {
    position: initial;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 2px 7px 5px rgba(0,0,0,0.29);
    margin-bottom: 20px;

    fa-icon {
        cursor: pointer;
        position: absolute;
        top: 15px;
        left: 45px;
        color: white;
    }

    .form-header {
        color: white;
        height: 50px;
        padding-top: 15px;
        text-align: center;
        background-color: #551CFF;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;

        .rota-form-heading {
            
            // position: absolute;
            // margin-left: 30%;
            // transform: translateY(-30%);
        }
    }

    .form-input-container {
        padding: 10px;

        label {
            padding-left: 5px;
            margin-bottom: 0px !important;
        }
    }
}

.btn {
    width: 70px;
    height: 45px;
}

#rotaSubmit{
    width: 100px;
}

.btn-wrap{
    text-align: center;
}

* {
    box-sizing: border-box;
  }
  
  /* Style the list (remove margins and bullets, etc) */
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Style the list items */
  ul li {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 5px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    position: relative;
  }
  
  /* Add a light grey background color on hover */
  ul li:hover {
    background-color: #eee;
  }
  
  /* Style the close button (span) */
  .close {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0%;
    padding: 5px 16px;
    transform: translate(0%, -50%);
  }
  
  .close:hover {background: #bbb;}