@media only screen and (min-width: 769px) {
    .form-container {
        position: initial;
        width: 100%;
        padding: 10px;

        .routing-container {
            position: relative;
        }
    }
}