<div class="container">
    <div class="form-container">
        <div class="form-header">
            <span class="rota-form-heading">Create New Rota</span>
        </div>
        <div class="form-input-container">
            <div class="form-group">
                <label for="rotaName">Rota Name</label>
                <input type="text" class="form-control" name="rotaName" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="Email">Add User by Email</label>
                <input type="text" class="form-control" name="Email" placeholder="Users Email">
            </div>

            
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="timestart">Beginning</label>
                    <input type="time" class="form-control" id="timestart" placeholder="Start">
                </div>
                <div class="form-group col-sm-6">
                    <label for="timeend">End</label>
                    <input type="time" class="form-control" id="timeend" placeholder="Name">
                </div>
            </div>
            
            
            
        </div>
    </div>
</div>
