.grid-times {
    padding-top: 5px;
    min-height: 57px;
    text-align: center;

    .unset {
        font-style: italic;
    }
}

.grid-times-form {
    width: 100%;
}

.round {
    position: absolute;
    right: -10px;
    bottom: -5px;
    z-index: 1;
    width: 25px !important;
    height: 25px !important;
}

.hyphen {
    display: none;
}

@media (max-width:576px) {
    .grid-times-form {
        font-size: 24px;
        width: 50%;
        height: 49px;
    }

    .grid-times {
        font-size: 24px;
    }

    .hyphen {
        display: inline;
    }

    .round {
        font-size: 18px;
        width: 40px !important;
        height: 40px !important;
    }
}
