.grid-times {
    padding-top: 5px;
    min-height: 57px;
    text-align: center;
}

.grid-times-form {
    width: 100%;
}

.round {
    position: absolute;
    right: -10px;
    bottom: -5px;
    z-index: 1;
    width: 25px !important;
    height: 25px !important;
}
