@import '~ngx-toastr/toastr.css';
html {
    height: 100%
}
body {
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    height: 100%;

    .bg-primary-grad {
        background: linear-gradient( to right,#551CFF, #2A00AA) !important;
    }
    
    h1, h2 {
        color: #707070;
    }

    button {
        padding: 0px !important;
    }

    button {
        width: 120px;
        height: 30px;
        border-radius: 50px !important;
        color: white !important;
        cursor: pointer;
        background-color: #3500D3 !important;
        border-color: rgba(0, 0, 0, 0) !important;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.75) ;
        transition: all 1s;
    }

    button.round {
        width: 40px !important;
        height: 40px !important;
    }

    button:hover, a:hover {
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.75);
    }

    button:focus {
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.75) !important;
    }

    button:active, a:active {
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.75) !important;
    }
    
    input.form-control, select.form-control {
        border-radius: 20px;
        margin-bottom: 5px;
    }

    
}



.form-container {
    margin: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    box-shadow: 0px 5px 8px 4px rgba(0,0,0,0.75);

    .routing-container {
        padding: 20px;
        position: absolute;
        left: 50%;
        top: 45%;
        transform: translate(-50%, -50%);
    }
    
    .form-tabs-container {
        height: 45px;
        width: 100%;
        position: absolute;
        top: Calc(100% - 45px);
    
        .form-tab {
            padding-top: 10px;
            background: white;
            box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.7);
            border-radius: 0% !important;
            width: 50%;
            height: 100%;
        }
    
        .form-tab:not(.active):hover, .form-tab:not(.active):hover { 
            z-index: 0 !important;
            background:  #f8f8f8;
        }

        //override ng bootstrap properties
        .form-tab.active { z-index: 1 !important; }
        .form-tab.active:first-child, .form-tab.active:first-child:hover  { box-shadow: 1px 1px 5px -5px rgba(0,0,0,0.7); }
        .form-tab.active:last-child, .form-tab.active:last-child:hover { box-shadow: -1px -1px 5px -5px rgba(0,0,0,0.7); }
    }
}

.nav-tabs {
    position: absolute !important;
    top: 95% !important;
    border: 0px !important;

    .nav-item {
        width: 150px;
    }

    .nav-link {
        text-align: center !important;
        background-color: #F8F8F9;
        border: 0px;
        border-top: 0.5px solid gray;
        border-radius: 0px !important;
    }
    .nav-link.active {
        border-top: 0px;
        filter: grayscale(50%);
    }
    .nav-link:hover {
        opacity: 100%;
    }
}