@import '~ngx-toastr/toastr.css';
html {
    height: 100%
}
body {
    background-size: cover;
    font-family: "Stika Heading";
    height: 100%;
}

.nav-tabs {
    position: absolute !important;
    top: 95% !important;
    border: 0px !important;

    .nav-item {
        width: 150px;
    }

    .nav-link {
        text-align: center !important;
        background-color: #F8F8F9;
        border: 0px;
        border-top: 0.5px solid gray;
        border-radius: 0px !important;
    }
    .nav-link.active {
        border-top: 0px;
        filter: grayscale(50%);
    }
    .nav-link:hover {
        opacity: 100%;
    }
}