@import '~ngx-toastr/toastr.css';
html {
    height: 100%
}
body {
    background-size: cover;
    font-family: "Stika Heading";
    height: 100%;
    
    h1, h2 {
        color: #707070;
    }

    button {
        width: 120px;
        height: 30px;
        border-radius: 50px !important;
        padding: 0px !important;
        color: white !important;
        cursor: pointer;
        background-color: #3500D3 !important;
        border-color: rgba(0, 0, 0, 0) !important;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.75) ;
        transition: all 1s;
    }

    button.btn-icon {
        padding-left: 10px !important;

        fa-icon {
            padding: 0 10px !important;
        }
    }

    button:hover {
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.75);
    }

    button:focus {
        box-shadow: none !important;
        border: 0px !important;
    }
}

.nav-tabs {
    position: absolute !important;
    top: 95% !important;
    border: 0px !important;

    .nav-item {
        width: 150px;
    }

    .nav-link {
        text-align: center !important;
        background-color: #F8F8F9;
        border: 0px;
        border-top: 0.5px solid gray;
        border-radius: 0px !important;
    }
    .nav-link.active {
        border-top: 0px;
        filter: grayscale(50%);
    }
    .nav-link:hover {
        opacity: 100%;
    }
}