.container-fluid {
    padding: 0px !important;
    height: 100%;

    svg {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .header {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        color: white;

        h1 {
            font-size: 72px;
        }

        img {
            height: 340px;
        }

        h2 {
            font-size: 42px;
            width: 250px;
            position: absolute;
            top: 35%;
            transform: translateY(-50%);
        }

        @media only screen and (max-width: 1200px)
        {
            h2 {  
                display: none; 
            }    
        }        

        
    }

    @media only screen and (min-width: 768px)
    {
        .form-container {
            min-width: 300px;
            max-width: 300px;
            height: 50% !important;
            min-height: 410px;
            position: absolute;
            top: 50%;
            left: 70%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);

            .routing-container {
                position: relative;
            }
        }
    }

    .form-container {
        margin: 0;
        background-color: white;
        box-shadow: 0px 5px 8px 4px rgba(0,0,0,0.75);
        height: 100%;
        width: 100%;
        position: fixed;
    
        .routing-container {
            padding: 20px;
            position: absolute;
            left: 50%;
            top: 45%;
            transform: translate(-50%, -50%);
        }
        
        .form-tabs-container {
            height: 45px;
            width: 100%;
            position: absolute;
            top: Calc(100% - 45px);
        
            .form-tab {
                background: white;
                box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.7);
                border-radius: 0% !important;
                width: 50%;
                height: 100%;
            }
        
            .form-tab:not(.active):hover, .form-tab:not(.active):hover { 
                z-index: 0 !important;
                background:  #f8f8f8;
            }
    
            //override ng bootstrap properties
            .form-tab.active { z-index: 1 !important; }
            .form-tab.active:first-child, .form-tab.active:first-child:hover  { box-shadow: 5px 0 5px -5px rgba(0,0,0,0.7); }
            .form-tab.active:last-child, .form-tab.active:last-child:hover { box-shadow: -5px 0 5px -5px rgba(0,0,0,0.7); }
        }
    }
}

